<div class="section">

    <!-- section du haut du sidebar : icon yello + l'icon de favoris -->
    <div class="nav-left-section">
        <img src="../../assets/images/yello/yello-icon.jpeg" class="yello-icon" alt="">
        <div class="icon-list">
            <div class="icon-container">
                <i class="fi fi-rr-heart"></i>
            </div>
        </div>
    </div>


    <!-- liste d'actions : menu -->
    <div class="icon-list">
        <div class="icon-container">
            <i class="fi fi-rr-house-blank"></i>
        </div>
        <div class="icon-container">
            <i class="fi fi-tr-calendar-day"></i>
        </div>
        <div class="icon-container">
            <i class="fi fi-rr-book-alt"></i>
        </div>
        <div class="icon-container">
            <i class="fi fi-rr-apps"></i>
        </div>
    </div>

    <!-- section du bas : icon settings + avatar de l'utilisateur -->
    <div class="icon-list">
        <div class="icon-container">
            <i class="fi fi-rs-settings"></i>
        </div>

        <div class="icon-container user-avatar">
        </div>
    </div>
</div>