.grid-container{
    // width: 100wh;
    // background: red;
    // display: grid;
    // grid-template-columns: 5% 60% 25%;
    // padding: 10px;
    // box-sizing: border-box;
    // padding: 20px;
    // gap: 60px;
    // height: 100vh;
   
    // overflow: scroll;


    // padding: 0 20px;


    display: flex;
    // top: 10%;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow-y: auto;
    padding: 20px;
    // background-color: green;
    box-sizing: border-box;
  
 
}



// .left-sidebar{
//     position: sticky;
//   width: 5%;
//   top: 0;
//   overflow: hidden;
// //   height: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   gap: 50px;
//   height: 100%;
// }

.right-sidebar{
    position: sticky;
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    // top: 40%;
    top: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;

    
}


.leftNavbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:  20px;
    gap: 50px;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    // position: fixed;
    // left: 0;
    // top: 0;
    
    // height: 100vh;
    
    

    // box-sizing: border-box;
}

.rightNavbar{
    position: fixed;
    right: 0;
    top: 0;
    // height: 100vh;
    // width: 100%;
}

.rightNavbar, .leftNavbar{
    background: #F3EBE5;
    border-radius: 20px;
    // height: 700px

}

// .yello-icon{
//     border-radius: 20px;
//     width: 50px;
//    height: 50px;
// }

// ajout d'un margin-top de 30px aux enfants directes de la classe nav-left-section
//  ayant element qui les précédent
.nav-left-section > * + *{
    margin-top: 40px;
}




.main{
    flex: 5;
  width: 70%;
  display: inline-block;
  padding: 0 60px;
  box-sizing: border-box;
    // padding-top: 60px;
    // // height: 700px;
    // background: yellow;
    // width: 60%;
    // position: absolute;
    // right: auto;
    // left: auto;    // overflow: scroll;
}

.main h1{
    text-align: start;
    font-size: 2.5em;
    line-height: 1.5em;
}


.slogan{
    width: 60%;    
}


.right-sidebar-tools{
    width: 100%;
    // background-color: red;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.student-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.student-name{
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

.student-grade{
    background: #FFFFFF;
    display: flex;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 20px;
}

.left-sidebar{
        position: sticky;
      width: 5%;
      top: 0;
      overflow: hidden;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;
    }


// app-left-sidebar{
//     width: 5%;
//     height: 100%;

// }